<section id = "page1">
    <div class = "headerImage">
        <div id = "navbar"> 
            <a href = "#about" ><img class = "about" src = './assets/images/about.svg'></a>
            <a href = "#photos"><img src = './assets/images/photo.svg'></a>
            <a href = "#contact"><img src = './assets/images/contact.svg'></a>
        </div>
        <video muted id="video" (ended)="videoEnd()">  
            <source src="./assets/video.mp4" type="video/mp4">
        </video>
        <a class = "downButton" href = "#about"><img src = "./assets/images/buttonDown.svg"></a>
        <img (click) ="pause()" id = "pauseBtn" src = "./assets/images/pause.svg">
    </div>
</section>

<div class = "content">
    <section id = "about" class = "cfx">
        <h1>Over ons</h1>
        <img src = "./assets/images/selfie.jpeg">
        <p> NxT Escape is een escape room die die ontwikkelt is voor studenten die geïnteresseerd zijn in of meer voeling willen krijgen met de richting NxT Media Technology. Aan de hand van een applicatie, puzzels en raadsels die geïnspireerd zijn op het nieuwe curriculum kunnen de studenten proeven van de richting NxT Media Technology.</p>
    </section>
            
    <section id = "photos">
        <h1>Foto's</h1>
        <div class = "images">
            <div *ngFor = "let image of images">
                <div class = "image">
                    <img id={{image.name|async}} src="{{image.name | async}}" (click) = "fullscreen($event)"/>
                </div>
                <div class = "time">
                    <p>{{ image.time }}</p>
                </div>
            </div>
        </div>
    </section>
            
    <section id = "contact">
        <div class = "adres">
            <h2>Adres</h2>
            <p>Salesianenlaan 90</p>
            <p>2660 Antwerpen</p>
        </div>
        <div class = "number">
            <h2>Contact</h2>
            <p>+32 499 76 43 45</p>
            <p>+32 499 33 44 78</p>
        </div>
        <div class = "mail">
            <p>ruben.vandermeirsch@student.kdg.be</p>
            <p>lore.vanderlinden@student.kdg.be</p>
        </div>
    </section>

    <section id = "footer">

    </section>
</div>

